@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #ffffff;

  color: #333840;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.r-t-header.is-open .r-t-header-background {
  left: 0;
}
.r-t-header-button-wrapper {
  margin-left: auto;
}
.r-t-header-icon {
  display: none;
}

.r-t-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.r-t-navigation-list.is-open {
  right: 0;
}
.r-t-header-icon-menu {
  display: block;
}

.r-t-header-icon-button.is-open .r-t-header-icon-menu {
  display: none;
}

.r-t-header-icon-button.is-open .r-t-header-icon-close {
  display: block;
}

.r-t-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 56px;
  background: #4a9f00;
}

.r-t-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #4a9f00;
}
.r-t-header.is-open .r-t-header-background {
  left: 0;
}
.r-t-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.r-t-header-icon-menu {
  display: block;
}

.r-t-header-icon-button.is-open .r-t-header-icon-menu {
  display: none;
}

.r-t-header-icon-button.is-open .r-t-header-icon-close {
  display: block;
}

.r-t-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 8px 16px;
  position: relative;
}

.r-t-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 657px;
  transition: 0.3s;
  z-index: 999;
  padding: 100px 32px 0;

  gap: 28px;
  background: #4a9f00;
}

.r-t-navigation-list.is-open {
  right: 0;
}

.r-t-navigation-link {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #ffffff;
}

.r-t-navigation-link:hover,
.r-t-navigatioт-link:focus {
  color: #faba2b;
}

.r-t-header.is-open {
  background-color: transparent;
}

.r-t-navigation-img {
  display: none;
}

@media screen and (min-width: 1196px) {
  .r-t-navigation-img {
    display: flex;
    margin-right: 192px;
  }
  .r-t-policy-terms-header-icon-menu {
    display: none;
  }
  .w-b-header-button-wrapper {
    display: none;
  }
  .r-t-header {
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .r-t-header-background {
  }
  .r-t-header-icon-button {
    display: none;
  }
  .r-t-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .r-t-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 2px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .r-t-navigation-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    padding: 20px;
    text-decoration: none;
  }

  .r-t-navigation-link:hover,
  .r-t-navigation-link:focus {
    color: #ffffff;
  }

  .r-t-navigation-item-desk {
    display: none;
  }
}
.r-t-home-main {
  width: 375px;

  background-position: top;
  background-repeat: no-repeat;
  background-image: url("/img/375\ px.png");
  margin: auto;
  background-color: #8dd5eb;
}
.r-t-home {
  width: 375px;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/hero_section.png");
  margin: auto;
}
.r-t-home-container {
  width: 375px;
  padding: 396px 16px 0px;
  margin: auto;
}

.r-t-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.r-t-home-title-img {
  width: 280px;
}
.r-t-home-title {
  font-family: Luckiest Guy;
  font-weight: 400;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  padding-top: 32px;
}

@media screen and (min-width: 1196px) {
  .r-t-home-main {
    width: 1440px;
    background-image: url("/img/1440\ px.png");
    margin: auto;
  }
  .r-t-home {
    width: 1440px;
    height: 800px;
    background-image: url("/img/home/hero_section\ \(1\).png");
  }
  .r-t-home-container {
    width: 1440px;
    padding: 188px 0px 0px;
  }
  .r-t-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .r-t-home-title-img {
    width: 472px;
  }
  .r-t-home-title {
    font-family: Luckiest Guy;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    width: 443px;
  }

  .r-t-home-text {
  }
}
.r-t-about {
  margin: auto;
  width: 375px;
  height: 1018px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Game\ Description.png");
}
.r-t-about-container {
  width: 375px;
  padding: 616px 16px 0px;
  margin: auto;
}
.r-t-about-title {
  font-family: Luckiest Guy;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.r-t-about-text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 24px;
}

.r-t-about-text-bold {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1196px) {
  .r-t-about {
    width: 1440px;
    height: 850px;
    background-image: url("/img/Game\ Description\ \(1\).png");
  }
  .r-t-about-container {
    width: 1440px;
    padding: 298px 108px 0 628px;
  }
  .r-t-about-title {
    font-family: Luckiest Guy;
    font-weight: 400;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  .r-t-about-text {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .r-t-about-text-bold {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}

.r-t-why-container {
  width: 375px;
  margin: auto;
  padding: 60px 16px;
}
.r-t-why-list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 40px;
  padding-right: 24px;
  padding-bottom: 40px;
  padding-left: 24px;
  border-radius: 26px;
  background: #ffe7ca;
  box-shadow: 8px 8px 20px 0px #5b5b5b1a;
}
.r-t-why-item {
  width: 295px;
  height: 246px;
  gap: 24px;
  padding-right: 20px;
  padding-left: 20px;
}
.r-t-why-img {
  margin: 0 auto;
}
.r-t-why-text-bold {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: #a44400;
  padding: 24px 0 8px;
}
.r-t-why-text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1196px) {
  .r-t-why-container {
    width: 1440px;
    padding: 100px 108px;
  }
  .r-t-why-list {
    margin-top: 76px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    column-gap: 0;
    padding-top: 64px;
    padding-right: 40px;
    padding-bottom: 64px;
    padding-left: 40px;
    border-radius: 26px;
    box-shadow: 8px 8px 20px 0px #5b5b5b1a;
  }
  .r-t-why-item {
    width: 286px;
    height: 246px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .r-t-why-text-bold {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
  .r-t-why-text {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.r-t-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 120px 16px 60px;
}
.r-t-uniqueness-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.r-t-uniqueness-item {
  display: flex;
  align-items: center;
  gap: 27px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-radius: 8px;
  background: #ffe7ca;
  box-shadow: 8px 8px 20px 0px #5b5b5b1a;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1196px) {
  .r-t-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 100px 108px;
  }
  .r-t-uniqueness-list {
    padding-top: 76px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .r-t-uniqueness-item {
    width: 600px;
    height: 56px;
    gap: 27px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    border-radius: 8px;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}
.r-t-how {
  margin: auto;
  width: 375px;
  height: 916px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/how/How\ to\ Play.png");
}
.r-t-how-container {
  margin: auto;
  width: 375px;
  padding: 60px 16px 0;
}
.r-t-how-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.r-t-how-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.r-t-how-text-bold {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #a44400;
}

.r-t-how-text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1196px) {
  .r-t-how {
    width: 1440px;
    height: 709px;
    background-image: url("/img/how/How\ to\ Play\ \(1\).png");
  }
  .r-t-how-container {
    margin: auto;
    width: 1440px;
    padding: 100px 742px 0 108px;
  }
  .r-t-how-list {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .r-t-how-item {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .r-t-how-text-bold {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .r-t-how-text {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}

.r-t-reviews-container {
  margin: auto;
  padding: 60px 16px;
  width: 375px;
}
.r-t-reviews-list {
  display: none;
}
.r-t-reviews-lists {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 40px;
}
.r-t-reviews-item {
  width: 343px;
  height: 204px;
  gap: 24px;
  padding: 16px 24px;
  border-radius: 36px;
  border-width: 8px;
  background: #ffe7ca;
  border: 8px solid #f5679f;
  box-shadow: 8px 8px 20px 0px #5b5b5b1a;
}

.r-t-reviews-item-top {
  display: flex;
  gap: 16px;
  align-items: center;
  padding-top: 24px;
}

.r-t-reviews-text-bold {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #a44400;
}

.r-t-reviews-text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  height: 66px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1196px) {
  .r-t-reviews-container {
    margin: auto;
    padding: 100px 108px;
    width: 1440px;
  }
  .r-t-reviews-list {
    display: block;
    padding: 76px 0 42px;
  }
  .r-t-reviews-lists {
    display: none;
  }
  .r-t-reviews-item {
    width: 392px;
    height: 204px;
    margin: 0 12px;

    border-radius: 36px;
    border-width: 8px;
  }

  .r-t-reviews-item-top {
    display: flex;
    gap: 16px;
    align-items: center;
    padding-top: 24px;
  }

  .r-t-reviews-text-bold {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .r-t-reviews-text {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    height: 72px;
    display: flex;
    align-items: center;
  }
}

.r-t-faq-container {
  padding: 60px 16px;
  width: 375px;
  margin: auto;
}
.r-t-faq-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.r-t-faq-item {
}

.r-t-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  border-bottom: 1px solid #a44400;
  color: #a44400;
  padding-top: 8px;
  padding-bottom: 8px;
}

.r-t-faq-answer {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.r-t-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.r-t-toggle-button img {
  transition: transform 0.3s ease;
  width: 32px;
  height: 32px;
}
.r-t-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity: 0;
  padding-top: 0;
}

.r-t-faq-answer.open {
  max-height: 200px;
  opacity: 1;
  padding-top: 16px;
}

.r-t-toggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1196px) {
  .r-t-faq-container {
    padding: 100px 108px;
    width: 1440px;
    margin: auto;
  }

  .r-t-faq-list {
    padding-top: 76px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .r-t-faq-item {
    width: 600px;
  }
}

.r-t-gallery-container {
  width: 375px;
  margin: auto;
  padding: 70px 16px;
}
.r-t-gallery-list {
  width: auto;
  padding-top: 40px;
  margin: auto;
}

.r-t-gallery-item {
  width: 240px;
  height: 320px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.r-t-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.r-t-gallery-button-container {
  display: none;
}
@media screen and (min-width: 1196px) {
  .r-t-gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
  }

  .r-t-gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }

  .r-t-gallery-button:hover {
    scale: 120%;
  }

  .r-t-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 100px 108px;
  }
  .r-t-gallery-item {
    width: 392px;
    height: 523px;

    margin: 0 12px;
  }

  .r-t-gallery-list {
    padding-top: 76px;
  }
}

.r-t-policy-terms-container {
  padding: 116px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #212121;
}

.r-t-policy-terms-container h1 {
  font-family: Luckiest Guy;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.r-t-policy-terms-container h2 {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  margin-top: 20px;
  margin-bottom: 20px;
}
.r-t-policy-terms-container ul {
  list-style-type: disc;
  margin: 0px 0 0 20px;
}

.r-t-email-link {
  color: #0040ff;
  text-decoration: none;
}
@media screen and (min-width: 1196px) {
  .r-t-policy-terms-container {
    padding: 188px 212px 120px;
    width: 1440px;
  }
}

.r-t-footer-container {
  background: #4a9f00;

  width: 375px;
  padding: 30px 60px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #ffffff;
}

.r-t-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.r-t-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.r-t-footer-copyright {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1196px) {
  .r-t-footer-container {
    width: 1440px;
    padding: 60px 108px;
    display: flex;

    align-items: stretch;
    gap: 50px;
  }

  .r-t-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 32px;
  }

  .r-t-footer-text {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .r-t-footer-copyright {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.r-t-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 30px 16px;
  background: #ffffff;
  z-index: 1000;
  display: none;
  color: #333840;
}

.r-t-cookie-popup-text-two {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.r-t-cookie-button-container {
  padding: 20px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.r-t-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid #232323;
  width: 343px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  border-radius: 12px;
  border-width: 1px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #222222;
  text-transform: uppercase;
}

#accept-cookies {
  border: none;
  background: #faba2b;
  color: #ffffff;
}

.r-t-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1196px) {
  .r-t-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .r-t-cookie-popup-text-two {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    width: 704px;
  }

  .r-t-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .r-t-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px 108px;
    display: none;
  }
  .r-t-cookie-button {
    width: 184px;
    padding: 16px 0;
  }
}
